@import url('https://fonts.googleapis.com/css?family=Dosis:300,600');

html {
  padding: 0;
}

body {
  margin-top: 50px;
  margin-left: 80px;
  font-family: 'Dosis', sans-serif;
  background-image: url('library.jpg');
}

h1 {
  text-transform: uppercase;
  color: blue;
}

input{
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input:focus {
    background: #eee;
    border: 0 none;
}

button {
    padding:5px 15px; 
    background:black; 
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
        font-size: 20px;
}


form{
  margin:auto;

}

.user_form{
    margin-top: 5%;
}

label,input,textarea{
display:block;
color: red;
font-size: 20px;
font-weight: bold;
  
}

textarea{
  min-height: 8rem;
}




input,textarea{
  margin-bottom: 1rem;
}

.userform{
  width: 40%;
}



input[type="submit"],input[type="reset"]  {
  display: inline;
  width: auto;
    background:black; 
    color: white;
}


